/* Universal styles */


html{
  font-size: 10px;
}
* {
  font-family: "Pacifico", cursive;
  background-color: rgb(188, 243, 226);
  /* border:1px solid; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(200, 144, 233);
}

/* Header styles */

.top-header {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  /* background-color: blueviolet; */
  align-items: center;
}

.top-header .header-image {
  height: 20rem;
  width: 20rem;
  padding: 1em;
}

.top-header button{
  align-self: flex-end;
  margin:1em 0;
}





.contact-button {
  color: rgb(200, 144, 233);
  font-size: 25px;
  border-color: rgb(252, 251, 253);
  border-radius: 20px;
  border-width: medium;
  width: 125px;
  height: 50px;
}

.navigation ul {
  display: flex;
  /* border: 1px solid; */
  padding-left: 5px;
}

.navigation li {
  padding-top: 25px;
  padding-right: 50px;
  font-size: 25px;
}

/* About section styles */

.about {
  padding-top: 50px;
}

.about h1 {
  font-size: 4rem;
  color: rgb(255, 128, 153);
  text-align: center;
}

.about h3 {
  font-size: 25px;
  color: rgb(255, 128, 153);
  text-align: center;
  padding-bottom: 50px;
}

.about .cupcakes {
  display: flex;
  width: 70%;
  border: 2px solid rgb(252, 251, 253);
  margin: auto;
}

/* Example cake styles */

.example-cakes h3 {
  font-size: 25px;
  color: rgb(255, 128, 153);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.example-cakes ul {
  padding-left: 0;
}

.example-cakes li {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.images {
  border: 2px solid rgb(252, 251, 253);
}

/* Footer styles */

.footer {
  display: flex;
  /* flex-direction: row; */
  padding: 2rem;
  justify-content: center;
  /* font-size: 1rem; */
}

.footer li {
  padding-right: 3rem;
  font-size: 3rem;
}


/* Media queries */








@media only screen and (max-width: 400px)
{
  .top-header{
    flex-direction: column;
    
  }

  .top-header button
  {
    align-self: center;
  }
  
}



@media only screen and (max-width: 650px)
{
  .top-header{
    justify-content: space-between;
  }

  .nav-button
  {
    font-size: 2rem;
    background-color: rgb(226, 190, 190);
    color: rgb(86, 86, 180);
    padding: 1rem 3rem;
    /* margin: 6rem; */
    border: 4px solid;
  }

  .navigation ul
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  /* The Overlay (background) */
 .overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(238, 158, 158, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
 }
 
 /* Position the content inside the overlay */
 .overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
 }

 /* The navigation links inside the overlay */
 .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2rem;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  }


 /* Position the close button (top right corner) */
 .overlay .closebtn {
  position: absolute;
  top: 1.5rem;
  right: 3.5rem;
  font-size: 2rem;
 }

 .about h1
 {
   font-size: 3rem;
 }

 .about h3
 {
   font-size: 2rem;
 }



 .footer ul
 {
   display: flex;
 }

 .footer li {
  padding-right: 2rem;
  font-size: 2rem;
}


}

/* end of media query 650px */















@media only screen and (min-width: 650px) {


  header span
  {
    visibility: hidden;
  }

  .closebtn
  {
    visibility: hidden;
  }


  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
  }

  .example-cakes ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .example-cakes li {
    width: 45%;
    height: 45%;
  }

  .footer ul {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1000px) {
  .top-header .header-image {
    display: flex;
    flex-direction: column;
    align-self: start;
    height: 250px;
    width: 250px;
  }

  .contact-button {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 175px;
    height: 75px;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 8px;
    margin-right: 5px;
  }

  .navigation li {
    font-size: 30px;
  }

  .about h1 {
    font-size: 60px;
  }

  .about h3 {
    font-size: 30px;
  }

  .example-cakes h3 {
    font-size: 30px;
  }

  .example-cakes ul {
    display: flex;
    justify-content: space-evenly;
  }

  .example-cakes li {
    width: 20%;
    height: 20%;
  }

  .footer li {
    font-size: 30px;
  }
}
